*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    justify-content: center;
}

form{
    text-align: center;
    margin-top: 150px;
    justify-content: center;
}

.button1{
    border: none;
    width: 300px;
    height: 30px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.button1:hover{
    background-color: #4CAF50; 
    color: white;
}


input{
    border: none;
    background-color: #efefef;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}

input:hover{
    background-color: #4CAF50; 
    color: white;
}

#user{
    width: 220px;
}

/* DARK MODE */

.labelforcheckbox{
    font-size: 18px;
}

#darkmode{
    background-color: black;
    width: 160px;
    height: 35px;
    color: #fff;
    border-radius: 90px;
    margin-left: 880px;
}

#checkbox{
    border: none;
}

body.dark{
    background: #000;
    color: #fff;
}